.ant-layout-header{
    background-color: #1f4359;
    height: 70px;
    .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
        background-color: #1f4359;
        .logo{
            height: 64px;
            align-items: center;
            display: flex;
            img{
                max-height: 48px;
            }
        }
    }
}
#sider{
    background-color: #20506d;
    color: aliceblue;
    ul{
        background: #1890ff;
        color: aliceblue;
    }
}